
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/phing.xml
.idea/modules.xml
.idea/converte-banco.iml
.idea/dataSources/7b7cecd9-bdb3-4ff2-8d9c-d7bd35936d6d.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
